@import '../../settings';

.Intro {
  width: 100%;
  height: calc(100vh - 4rem);
  background: rgba(33, 37, 41, 1);
  display: flex;
  position: relative;
  z-index: 1;

  main {
    padding: 4rem;
    margin: auto;
    text-align: center;

    h1 {
      @include font-smoothing;
      color: #fff;
      margin: 3rem auto;
      font-size: 3.3rem;
      line-height: 3.6rem;
      width: 100%;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 4.8rem;
        line-height: 5.4rem;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        max-width: 90rem;
        line-height: 5.7rem;
      }
    }

    p {
      color: #dedede;
      font-size: 1.8rem;
      line-height: 3rem;
      margin: 2.8rem auto;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 2.1rem;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        max-width: 70rem;
      }
    }

    button {
      background: transparent;
      border: 0;
      color: #fff;
      font-family: 'GillSansMTStd-Medium';
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 0.3px;
      padding: 1.6rem 4rem 0.8rem;
      transition: opacity 0.4s ease;
      border: 1px solid white;

      &:hover,
      &:focus {
        background: #fff;
        color: rgba(33, 37, 41, 0.85);
      }

      &:disabled {
        opacity: 0.4;
      }
    }

    img {
      max-width: 20rem;
      margin: auto;

      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 40rem;
      }
    }
  }
}
