@import '../../settings';

.scrollContainer {
  height: calc(100vh - 4rem);
  overflow: hidden;

  @media screen and (min-width: $breakpoint-desktop) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.Armistice {
  width: 100%;
  background-color: #212529;

  .content {
    display: flex;
  }
}

body {
  overflow: hidden;
  position: fixed;
  width: 100%;

  :global(&.armistice--loading) {
    .scrollContainer {
      @media screen and (min-width: $breakpoint-tablet) {
        overflow: hidden;
      }
    }
  }
}
