@import '../settings.scss';

.MapLegend {
  width: 100%;

  svg {
    width: 80%;
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
    }
    height: 2rem;
    margin: auto;
    overflow: visible;
    padding: 0 1rem;

    :global(.xAxisLegend path) {
      display: none;
    }

    :global(.xAxisLegend .tick line) {
      display: none;
    }

    :global(.xAxisLegend) text {
      font-size: 1.4rem;
      font-family: GillSansMTStd-Medium, GillSansW01-Medium;
      color: #666666;
    }

    :global(.xLabel) {
      fill: #666666;
      font-family: GillSansMTStd-Medium, GillSansW01-Medium;
    }
  }
}
