$sectionDefault: #1d1d1b;
$backgroundBuff: #f9f9f9;

$breakpoint-tiny: 520px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 860px;
$breakpoint-tabletLandscape: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-large: 1300px;
