@import '../settings.scss';
.ChartLabel {
  position: absolute;
  background: #ffffff;
  height: auto;
  width: 40rem;
  @media screen and (max-width: $breakpoint-mobile) {
    width: 80%;
    margin: 5% 10% 0 10%;
    top: unset !important;
    left: unset !important;
  }
  border: 1px solid #ddd;
  margin-top: -4rem;
  text-align: left;

  p {
    margin-top: 0 !important;
    text-align: left;
    font-family: GillSansMTStd-Medium, GillSansW01-Medium;
    font-size: 1.8rem;
    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 1.4rem;
    }
    padding: 1.2rem;
  }
}
