
    body {
        font-family: 'Nunito', sans-serif;
        fill: black;
        font-size: 16px;
        margin: 0px;
    }

    .flex-grid {
      display: flex;
    }

    .flex-grid .col {
      flex: 1;
      text-align:center;
      align-items:center;
    }

    .flex-grid .col .switch {
      width:50%;
      margin: 0 auto;
    }

    .flex-grid .area {
      border: 1px solid black;
      width: 90%;
      margin:5%;
      height:600px;
    }

    .two {
      flex-basis:50%;
      margin: 1%;
      text-align:center;
    }

    #team, #player, #team2, #player2, #league, #league2 {
      cursor:pointer;
      margin-bottom:10px;
      font-family: 'Nunito', sans-serif;
      font-size:16px;
    }

    .tooltip {
            position: absolute;
            font-size: 16px;
            width:  auto;
            height: auto;
            pointer-events: none;
            color:white;
            background-color: black;
        }

        @media screen and (max-width: 1000px){
          .flex-grid{
            flex-direction:column;
          }
          .two{
            flex-basis:100%;
          }
        }

.dotHidden {
  fill:grey;
  opacity:0.25;
}

//toggle button

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tg-list {
  list-style-type: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 0 2em;
  width: 100%;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  align-content:center;
  margin: 0 auto;
  background: grey;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
