* {
  color: #d5d5d5;
  background-color: #373737;
  font-family: 'Archivo Narrow', antic-didone-regular;
  font-size: 16;
  line-height: 2;
  letter-spacing: 2.4px;
}

body {
  width: 100%;
  margin: 0px;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC';
  letter-spacing: 4px;
  color: #d5d5d5;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC';
  line-height: 1;
  color: #d5d5d5;
}

p {
  font-size: 1.5em;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
  text-align: center;
}

.flex-grid .two {
  flex-basis: 50%;
}

.flex-grid .three:nth-child(1){
  flex-basis: 33%;
}

.flex-grid .three:nth-child(2){
  flex-basis: 67%;
}

.axis text {
  fill: #d5d5d5;
  font-size: 14px;
}

.toolTip {
  position: absolute;
  color: #d5d5d5;
  display: none;
  min-width: 80px;
  background: none repeat scroll 0 0 #373737;
  height: auto;
  border: 1px solid black;
  padding: 14px;
  text-align: center;
  z-index: 2;
}

.followMeBar {
  z-index: 1;
  -webkit-transform: translateZ(0);
  position: relative;
}

.followMeBar.fixed {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

.graphic, .map, .radar, .stackedText{
    border-bottom: 2px dotted white;
}

.graphic, #visMap, #visMapBar, #radarChartDetail, #visDisputeOutcome, #visDisputeBreakdown, #visOpeatorIncrease, #visFines {
  width: 100%;
  height: 400px;
}

.area {
  fill: white;
  stroke: black;
}

.tick text {
  fill: #d5d5d5;
}

.barAxis .tick text {
  stroke: #d5d5d5;
}

.radarIndividual {
  padding-top: 3%;
}

.d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 10px;
    }
