@import '../settings.scss';

main {
  background-color: $backgroundBuff;
  text-align: center;

  h2,
  h3 {
    @media only screen and (min-width: $breakpoint-tiny) and (max-width: $breakpoint-mobile) {
      max-width: 498px;
    }
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
      max-width: 78.8%;
    }
    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tabletLandscape) {
      max-width: 683px;
    }
    @media only screen and (min-width: $breakpoint-tabletLandscape) and (max-width: $breakpoint-desktop) {
      max-width: 663px;
    }
    @media only screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large) {
      max-width: 663px;
    }
    @media only screen and (min-width: $breakpoint-large) {
      max-width: 663px;
    }
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;

    @media screen and (max-width: $breakpoint-mobile) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  h2 {
    padding-bottom: 0.5rem;
    color: #333333;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-family: 'TimesModern-Bold';
    font-weight: normal;
  }

  h3 {
    color: #7c7c7c;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: 'TimesDigital-Regular';
    font-weight: normal;
  }

  .HeadingContainer {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $breakpoint-tiny) {
      width: 100%;
    }
    @media only screen and (min-width: $breakpoint-tiny) and (max-width: $breakpoint-mobile) {
      max-width: 498px;
    }
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
      max-width: 78.8%;
    }
    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tabletLandscape) {
      max-width: 683px;
    }
    @media only screen and (min-width: $breakpoint-tabletLandscape) and (max-width: $breakpoint-desktop) {
      max-width: 663px;
    }
    @media only screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large) {
      max-width: 663px;
    }
    @media only screen and (min-width: $breakpoint-large) {
      max-width: 663px;
    }
    margin: 0 auto;
  }
  .error {
    text-align: center;
    color: #cc0000;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: -1rem !important;
    padding-bottom: 2rem;
  }
  .Middle {
    background-color: $backgroundBuff;
    width: 90%;
    margin: auto;
    display: flex;
    @media only screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }

    .Map {
      width: 40%;
      padding-top: 4rem;
      @media only screen and (max-width: $breakpoint-tablet) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 6rem;
      }
    }
    .LineChart {
      width: 60%;
      padding-top: 4rem;
      @media only screen and (max-width: $breakpoint-tablet) {
        width: 100%;
        order: -1;
        padding-top: 1rem;
      }
    }
  }

  .Methodology {
    padding: 5rem 0 1.6rem 0 !important;
    margin-top: 0 !important;
    font-size: 1.4rem;
    font-family: GillSansMTStd-Medium, GillSansW01-Medium;
  }

  .Source {
    font-size: 1rem;
    color: #666;
    padding-bottom: 1.5rem;
    margin-top: 0 !important;
  }
}
